
{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% block content %}

  <section>
    <div class="container3">
                    
        <div class="form">

            <h1>Login with Google</h1>                     
            <p>You are about to sign in using google.</p>    

            <form  method="post">
            {% csrf_token %}
            <button class="continue" type="submit">{% trans "Continue" %}</button>                      
            </form>

        </div>
        
    </div>
    
  </section>

{% endblock %}
