

{% extends "base.html" %}
{% load static %}
{% block title %}
    News
{% endblock title %}

{% block css%}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'styles/magnific-popup.css' %}">
     <link rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'styles/templatemo-style.css' %}">
     <style>
         #blog{
            background: linear-gradient(to right, #505050, #101010);
         }
     </style>
{% endblock css %}

{% block content %}


       <!-- BLOG -->
     
     <section id="blog" data-stellar-background-ratio="0.5">
        <div class="container">
             <div class="row">
   


                  <div class="col-md-12 col-sm-12">
                       <div class="section-title">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                            <h2>Account</h2>
                            <span class="line-bar">...</span>
                       </div>
                  </div>
   
                                             <!-- Add News-->
                  

    <h2> Details </h2>                                
    <p>Name : {{ user.first_name }} {{ user.last_name}}</p>
    <p>Email : {{ user.email }}</p>

    <h2> Tax Receipts </h2>

    {% for tax in tax_receipts %}

        <div>
            <p> Province : {{ tax.province }}</p>
            <p> District : {{ tax.district }}</p>s
            <p> Local Body : {{ tax.local }}</p>
            <p> Fiscal Year : {{ tax.fiscal_year }}</p>
            <p> Monthly Salary : {{ tax.monthly_salary }}</p>
            <p> Employee Provident Fund : {{ tax.employeee_provident_fund }}</p>
            <p> Months : {{ tax.months }}</p>
            <p> Citizen Investment Fund : {{ tax.citizen_investment_trust }}</p>
            <p> Bonus : {{ tax.bonus }}</p>
            <p> Insurance : {{ tax.insurance }}</p>
            <p> Total Taxable Amount : {{ tax.final_tax }}</p>
        </div>
        <a href="{% url 'tax:detail' tax.pk%}">View Details </a>
        <a href="{% url 'tax:detail_pdf' tax.pk%}">Export to PDF </a>

        <hr/>
        <br/>
    
    {% endfor %}
    

 {% endblock content %}

     

{% block js %}
     <script src="{% static 'js/jquery.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
     <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
     <script src="{% static 'js/smoothscroll.js' %}"></script>
     <script src="{% static 'js/custom.js' %}"></script>
{% endblock js%}

