{% extends "base.html" %} '
{% load static %} 
{% block title %} News 
{% endblock title %} 
{% block css%}

<link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'styles/magnific-popup.css' %}" />
<link rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'styles/templatemo-style.css' %}" />
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
     <style>
         #blog{
            background: linear-gradient(to right, #505050, #101010);
            margin-top:-300px;
         }

     </style>
{% endblock css %} 
{% block content %}

<!-- BLOG -->

<section id="blog" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title">
          <br />
          <br />
          <br />
          <br />
          <img src="{{user.image}}" style="width: 100px; height: 100px; margin:250px 0 20px 0;" />
          <h2>Account</h2>

          <span class="line-bar">...</span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="tax-detail">
  {% if user.is_superuser %}
  <h2>Admin Details</h2>
  {% else %}
  <h2>User Details</h2>
  {% endif %}
  <p>Name : {{ user.first_name }} {{ user.last_name}}</p>
  <p>Email : {{ user.email }}</p>
</div>
  

<div class="receipts">
  {% if tax_receipts %}
  <h2>Tax Receipts</h2>
  {% endif %}


{% comment %} All Tax Details {% endcomment %} 
{% for tax in tax_receipts %} 
{% comment %} Each Tax Detail {% endcomment %}
<div class="rec-detail">
  <p>Province : {{ tax.province }}</p>
  
  <p>District : {{ tax.district }}</p>
  
  <p>Local Body : {{ tax.local }}</p>
  
  <p>Fiscal Year : {{ tax.fiscal_year }}</p>
  
  <p>Monthly Salary : {{ tax.monthly_salary }}</p>
  
  <p>Employee Provident Fund : {{ tax.employeee_provident_fund }}</p>
  
  <p>Months : {{ tax.months }}</p>
  
  <p>Citizen Investment Fund : {{ tax.citizen_investment_trust }}</p>
  
  <p>Bonus : {{ tax.bonus }}</p>
  
  <p>Insurance : {{ tax.insurance }}</p><hr>
  
  <p><h4>Total Taxable Amount : {{ tax.final_tax }}</h4></p>
</div>
<div class="button-2">
  <a href="{% url 'tax:detail' tax.pk%}">
    <button type="submit" class="view">View Details</button>
  </a>
  <a href="{% url 'tax:detail_pdf' tax.pk%}">
    <button type="submit" class="pdf">Export to PDF</button>
  </a>
</div>

<hr />
<br />

{% endfor %} 
</div>
{% if user.is_superuser %}
<div class="user">
  <h2>Users</h2>
</div>


<div class="container">
  <form action="{% url 'accounts:user_csv' %}">
    <button type="submit" class="btn btn-primary" style="margin-bottom:20px;">
      Download User Data
    </button>
  </form>
  <table class="table table-dark" style="text-align: left">
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for usr in users %}
      <tr>
        <th scope="row">{{ usr.pk }}</th>
        <td>{{ usr.first_name }}</td>
        <td>{{ usr.last_name }}</td>
        <td>{{ usr.email }}</td>
        <td>
          {% if usr.is_active %}
          <form action="{% url 'accounts:deactivate' usr.pk %}">
            <button type="submit" class="btn btn-danger">
              Deactivate User
            </button>
          </form>
          {% else %}
          <form action="{% url 'accounts:activate' usr.pk %}">
            <button type="submit" class="btn btn-success">Activate User</button>
          </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endif %} 
{% endblock content %} 

{% block js %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

{% endblock js%}
