

{% extends "base.html" %}
{% load static %}
{% block title %}
    News
{% endblock title %}

{% block css%}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'styles/magnific-popup.css' %}">
     <link rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'styles/templatemo-style.css' %}">
     <link rel="stylesheet" href="{% static 'styles/style.css' %}">
     <style>
         #blog{
            background: linear-gradient(to right, #505050, #101010);
            margin-top:-300px;
         }
         .nav1 {
             margin-left: 400px;
             margin-bottom: 50px;
             font-size: 15px;
             
           
             
             
         }
         .nav1 a{
             padding: 8px 16px;
             border:0px solid grey;
             
             display:inline-block;
             
             
         }
         .nav a:hover{
             background-color: #ddd;
             color:black;
         }
         .previous{
             background-color: #f1f1f1;
             color:black;
             border-radius: 100px;

         }
         .previous:hover, .next:hover{
             color:#101010;
         }
         .next{
             background-color: #ce3232;
             color:white;
             border-radius: 100px;
         }
         
     </style>
{% endblock css %}

{% block content %}


       <!-- BLOG -->
     
     <section id="blog" data-stellar-background-ratio="0.5">
        <div class="container">
             <div class="row">

                  <div class="col-md-12 col-sm-12">
                       <div class="section-title">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <i class="fa fa-user" style="font-size:80px;color:rgb(255, 255, 255);margin-top:250px;margin-bottom:20px;"></i>
                            <h2>Account</h2>
                            
                            <span class="line-bar">...</span>
                            
                           
                       </div>
                  </div>
                  </div>
                  </div>
                  </section>
                  
                  
   

     <div class="tax-detail">
        {% if user.is_superuser %}
        <h2> Admin Details </h2> <hr style="width:100%">
    {% else %}
        <h2> Details </h2><hr style="width:100%">    
    {% endif %}                            
    <p>Name : {{ user.first_name }} {{ user.last_name}}</p>
    <p>Email : {{ user.email }}</p>

     </div>   
               

   
     <div class="receipts">
        <h2> Tax Receipts </h2><hr>
     
     
     

    
    
    {% comment %} All Tax Details {% endcomment %}
    {% for tax in tax_receipts %}
        {% comment %} Each Tax Detail {% endcomment %}
        <div class="rec-detail">
            <p> Province : {{ tax.province }}</p>
            <p> District : {{ tax.district }}</p>
            <p> Local Body : {{ tax.local }}</p>
            <p> Fiscal Year : {{ tax.fiscal_year }}</p>
            <p> Monthly Salary : {{ tax.monthly_salary }}</p>
            <p> Employee Provident Fund : {{ tax.employeee_provident_fund }}</p>
            <p> Months : {{ tax.months }}</p>
            <p> Citizen Investment Fund : {{ tax.citizen_investment_trust }}</p>
            <p> Bonus : {{ tax.bonus }}</p>
            <p> Insurance : {{ tax.insurance }}</p><hr>
            <p> <h4>Total Taxable Amount : {{ tax.final_tax }}</h4</p>
            
        </div>
        
        <div class="button-2">
            <a href="{% url 'tax:detail' tax.pk%}">
            <button type="submit" class="view">View Details</button>    
            </a>
            <a href="{% url 'tax:detail_pdf' tax.pk%}">
            <button type="submit" class="pdf">Export to PDF</button>    
            </a>
            
        </div>
        <hr>
       

        
        <br/>
        
    
    {% endfor %}
</div>

    
    
    
    {% if user.is_superuser %}
    <div class="user">
        <h2> Users </h2>

        <div class="container">
        <table class="table table-dark" style="text-align:left;">
            <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for usr in users %}
            <tr>
                <th scope="row">{{ usr.pk }}</th>
                <td>{{ usr.first_name }}</td>
                <td>{{ usr.last_name }}</td>
                <td>{{ usr.email }}</td>
                <td>
                    {% if usr.is_active %}
                        <form action="{% url 'accounts:deactivate' usr.pk %}">
                            <button type="submit" class="btn btn-danger">Deactivate User</button>
                        </form>
                    {% else %}
                        <form action="{% url 'accounts:activate' usr.pk %}">
                            <button type="submit" class="btn btn-success">Activate User</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="nav1">
            <a href="" class="previous">&laquo;previous</a>
            <a href="" class="next">Next&raquo;</a>
         </div>
        </div>
    
    {% endif %}
    
    </div>

    

 {% endblock content %}

 

     

{% block js %}
     <script src="{% static 'js/jquery.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
     <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
     <script src="{% static 'js/smoothscroll.js' %}"></script>
     <script src="{% static 'js/custom.js' %}"></script>
    
{% endblock js%}

