{% load socialaccount %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">

    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <section>
        
        <div class="box">
            
            <div class="container">
                <div class="container2">
                    <img  src="{% static 'images/logo.jpg' %}"% style="width: 480px;00px;height: 315px;px;">
                    <div class="Name">कर-Culator</div>
                </div>
                <div class="form">
                    <h2>Login</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% comment %} {{ form.as_p }} {% endcomment %}
                        {% for field in form %}
                            <p>
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </p>
                        {% endfor %}
                        {% if form.non_field_errors %}
                            <ul class='form-errors'>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% comment %} <p class="forget"> <a href="#">Forgot Password?</a></p> {% endcomment %}
                        <p>
                            <input id="login" type="submit" value="Login">
                        </p>
                        <p class="create"><a href="{% url 'accounts:register' %}">Don't have an account? </a></p>
                        <br>
                        <div class="inputBox">
                            
                            <a class="google" href="{% provider_login_url 'google' %}">
                                
                                <i class="fa fa-google"></i> Login with Google
                            </a>
                        </div>
                        
                    </form>

                </div>
            </div>


            </div>
    </section>
</body>
</html>