{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registerr</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <script>src="login.js"</script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <section>
        
        <div class="box">
            
            <div class="container">
                <div class="container2">
                    <img src="{% static 'images/logo.png' %}" style="width: 480px; height: 350px;">
                    <div class="Name">कर-Culator</div>
                </div>
                <div class="form">
                    <h2>Sign Up</h2>
                    
                    <form method="POST">
                        {% csrf_token %}

                        <div class="flexpw">

                        <div class="inputBox1">
                        {% comment %} For First Name {% endcomment %}
                        {{form.first_name.label_tag}}
                        {{form.first_name}}
                        </div>

                        <div class="inputBox1">
                        {% comment %} For last_name {% endcomment %}
                        {{form.last_name.label_tag}}
                        {{form.last_name}}
                        </div>

                        </div>
                        <div class="inputBox1">    
                        {% comment %} For Email {% endcomment %}
                        {{form.email.label_tag}}
                        {{form.email}}
                        </div>

                        <div class="inputBox1">


                        {% comment %} For Password {% endcomment %}
                        {{form.password.label_tag}}
                        {{form.password}}
                        </div>
                        <div class="inputBox1">

                        {% comment %} For Confirm Password {% endcomment %}
                        {{form.confirm_password.label_tag}}
                        {{form.confirm_password}}
                        </div>


                        <P class="inputBox">                            
                            <a class="google ">Register</a>
                        </P>

                        <p class="forget"> <a href="{% url 'accounts:login' %}">Already have account</a></p>

                        <P class="inputBox">
                            
                            <a class="google " href="{% provider_login_url 'google' %}">
                                
                                <i class="fa fa-google" style="padding: 5px; color: rgb(255, 255, 255); margin: 0 5px;"></i> Login with Google
                            </a>

                        </P>
                        
                    </form>

                </div>
            </div>

            </div>
    </section>
</body>
</html>