
{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <script>src="login.js"</script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <section>
        
        <div class="box">
            
            <div class="container">
                <div class="container2">
                    <img src="{% static 'images/illustration.png' %}" style="width: 480px; height: 500px;">
                    <div class="Name">कर-Culator</div>
                </div>
                <div class="form">
                    <h2>Sign Up</h2>
                    
                    <form method="POST">
                        {% csrf_token %}      
                        <div class="flexpw">              
                                {% comment %} For First Name {% endcomment %}
                                <p class="inputBox">
                                {{form.first_name.label_tag}}
                                {{form.first_name}}
                                </p>
                                {{form.first_name.errors}}
                                {% comment %} For last_name {% endcomment %}
                                <p class="inputBox1" >
                                {{form.last_name.label_tag}}
                                {{form.last_name}}
                                </p>
                                {{form.last_name.errors}}                               
                        </div> 
                        {% comment %} For Email {% endcomment %}
                        <p>
                        {{form.email.label_tag}}
                        {{form.email}}
                        </p>
                        {{form.email.errors}}

                        {% comment %} For Password {% endcomment %}
                        <p>
                        {{form.password.label_tag}}
                        {{form.password}}
                        </p>
                        {{form.password.errors}}

                        {% comment %} For Confirm Password {% endcomment %}
                        <p>
                        {{form.confirm_password.label_tag}}
                        {{form.confirm_password}}
                        </p>
                        {{form.confirm_password.errors}}

                        {% if form.non_field_errors %}
                            <ul class='form-errors'>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}


                        <P class="inputBox">
                            <button class="google" type="submit">Register</button>
                        </p>
                        <p>{{info}}</p>

                        <p class="forget"> <a href="{% url 'accounts:login' %}">Already have account</a></p>
                        <div class="inputBox" style="margin-top:10px;">
                            
                            <a class="google" href="{% provider_login_url 'google' %}">
                                
                                <i class="fa fa-google"></i> Login with Google
                            </a>
                        </div>
                        
                    </form>

                </div>
            </div>

            </div>
    </section>
</body>
</html>