{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <!-- <input type="text" name="email" placeholder="Email" autocomplete="off">
        <input type="text" name="first_name" placeholder="First Name" autocomplete="off">
        <input type="text" name="last_name" placeholder="Last Name" autocomplete="off">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="password_confirmation" placeholder="Password confirmation"> -->
        {{ form.as_p }}
        <button type="submit">REGISTER</button>
    </form>
</body>
</html> {% endcomment %}
{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registerr</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <script>src="login.js"</script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <section>
        
        <div class="box">
            
            <div class="container">
                <div class="container2">
                    <img src="{% static 'images/logo.jpg' %}" style="width: 480px;00px;height: 315px;px;">
                    <div class="Name">कर-Culator</div>
                </div>
                <div class="form">
                    <h2>Sign Up</h2>
                    
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        
                        <p>
                            <input id="login" type="submit" value="Register">
                        </p>
                        <p class="forget"> <a href="{% url 'accounts:login' %}">Already have account</a></p>
                        <div class="inputBox" style="margin-top:10px;">
                            
                            <a class="google" href="{% provider_login_url 'google' %}">
                                
                                <i class="fa fa-google"></i> Login with Google
                            </a>
                        </div>
                        
                    </form>

                </div>
            </div>

            </div>
    </section>
</body>
</html>