
    <h2>Tax Detail</h2>

    <strong> Name : {{user.first_name}} {{user.last_name}}</strong>
    <p> Province : {{tax.province}}</p>
    <p> District : {{tax.district}}</p>
    <p> Local : {{tax.local}}</p>
    <p> Employee Nature : {{tax.employee_nature}}</p>
    <p> Fiscal Year : {{tax.fiscal_year}}</p>
    <p> Monthly Salary : {{tax.monthly_salary}}</p>
    <p> Employee Provident Fund : {{tax.employee_provident_fund}}</p>
    <p> Months : {{tax.months}}</p>
    <p> Citizen Investment Trust : {{tax.citizen_investment_trust}}</p>
    <p> Bonus : {{tax.bonus}}</p>
    <p> Insurance : {{tax.insurance}}</p>
    <p> Taxable Amount : {{tax.final_tax}}</p>
    



