{% extends "base.html" %}
{% load static %}
{% block title %}
    About
{% endblock title %}

{% block css%}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'styles/magnific-popup.css' %}">
     <link rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'styles/templatemo-style.css' %}">
     <style>
         #blog{
            background: linear-gradient(to right, #505050, #101010);
         }
     </style>
{% endblock css %}

{% block content %}



 {% endblock content %}



{% block js %}
     <script src="{% static 'js/jquery.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
     <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
     <script src="{% static 'js/smoothscroll.js' %}"></script>
     <script src="{% static 'js/custom.js' %}"></script>

{% endblock js%}