<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tax Calculator</title>
    <link rel="stylesheet" href="style.css">
    <script>src="login.js"</script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <section>
        
        <div class="box">
            
            <div class="container">
                <div class="container2">
                    <img src="images/logo.jpg"style="width: 480px;00px;height: 315px;">
                    <div class="Name">कर-Culator</div>
                </div>
                <div class="form">
                    

                </div>
            </div>

            </div>
    </section>
</body>
</html>