{% extends "base.html" %}
{% load static %}
{% block title %}
    कर-Culator
{% endblock title %}

{% block css%}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'styles/magnific-popup.css' %}">
     <link rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'styles/templatemo-style.css' %}">
{% endblock css %}

{% block content %}


     <!-- HOME -->
     <section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row" style="display: flex; align-items:center;">

                    <div class="col-md-6 col-sm-12">
                         <div class="home-video">
                              <div class="embed-responsive embed-responsive-16by9">
                                   
                                   <iframe width="560" height="315" src="https://www.youtube.com/embed/GG-BRAVIhm0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12" style="display: flex; flex-direction:column; align-items:center; padding: 50px;">
                        <h2 style="text-align:center;">Calculate your income tax with a click of your finger</h2>
                        <a href="{% url 'home:home'%}" class="btn section-btn" style="text-align:center;">Get Started</a>
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-5 col-sm-6">
                         <div class="about-info">
                              <div class="section-title">
                                   <h2>कर-Culator</h2>
                                   <!-- <span class="line-bar">...</span> -->
                              </div>
                              <p>कर-Culator is a system designed to ease the exhausting tax calculation process for employees. This system helps employees calculate their income tax within seconds. The system also offers a news page where employees can read as well as post news.</p>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p> -->
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                       
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="about-image">
                              <img src="{% static 'images/about.svg' %}" class="img-responsive" alt="">
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- BLOG -->

     <section id="blog" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">
     


                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2 style="color:black !important;">News</h2>
                              <span class="line-bar">...</span>
                         </div>
                    </div>
     
                                               <!-- Add News-->
     <section id="work" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">
                    <div class="col-md-2 col-sm-12">
                         <!-- <input type="submit" class="form-control" name="submit" value="Add News"> -->
                    </div>
                       <div class="col-md-2 col-sm-6">
                                   <select class="form-control" id="cf-budgets" name="cf-budgets" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                                        <option value="">Select...</option>
                                        {% for cat in cat_list %}
                                            <option value="{% url 'news:category' cat.name|slugify%}">{{ cat.name }}</option>
                                        {% endfor %}

                                   </select>

                          </div>
                         {% if user.is_authenticated %}
                          <div class="col-md-2 col-sm-12">
                              <form action = "{% url 'news:add'%}">
                              <input type="submit" class="form-control" name="submit" value="Add News">
                              </form>
                         </div>
                         {% endif %}

                         


                         
                          

                    

               </div>
          </div>
     </section>
        {% for news in news_list %}

            <div class="col-md-6 col-sm-6">
                <!-- BLOG THUMB -->
                <div class="media blog-thumb">
                        <div class="media-body blog-info">
                            <small><i class="fa fa-clock-o"></i> {{ news.post_date }}</small>
                            <h5>{{ news.author }}</h5>
                            <h4><a href="{% url 'news:detail' news.pk%}">{{ news.title|slice:"0:50"}} . . .</a></h4>
                            <p>{{ news.body|safe|slice:"0:70"}} . . .</p>
                            <a href="{% url 'news:detail' news.pk%}" class="btn section-btn">Read More</a>
                            {% if user.is_authenticated %}
                              {% if user.id == news.author.id %}
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                <a href="{% url 'news:update' news.pk%}"><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></a>
                                </li>
                                <li class="list-inline-item">
                                <a href="{% url 'news:delete' news.pk%}"><button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></a>
                                </li>
                            </ul>
                              {% endif %}
                            {% endif %}
                        </div>
                </div>
            </div>
        {% endfor %}
                    
     </section>


{% endblock content %}

     

{% block js %}
     <script src="{% static 'js/jquery.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
     <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
     <script src="{% static 'js/smoothscroll.js' %}"></script>
     <script src="{% static 'js/custom.js' %}"></script>
{% endblock js%}

