@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #ffffff);

}
section .color
{
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1)
{
    top: -350px;
    width: 600px;
    height: 600px;
    background: #249245;

}
section .color:nth-child(2)
{
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #33b478;
    
}
section .color:nth-child(3)
{
    top: 50px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: #2ca17e;
    
}
.box
{
    position: relative;

}
.box .square
{
    position: absolute;
    backdrop-filter:blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background:rgba(255,255,255,0.1);
    border-radius: 10px;
}

.container
{
    position: relative;
    width: 950px;
    height: 530px;
    background:rgba(240, 235, 235, 0.938);
    border-radius: 10px;
    display:flex;
    justify-content:center;
    align-items: right;
    backdrop-filter:blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.container2
{
    text-align: center;
    position: relative;
    width: 800px;
    height: 530px;
    background:rgba(48, 9, 219, 0.897);
    border-radius: 10px;
    display:flex;
    justify-content:center;
    align-items: right;
    backdrop-filter:blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);

}
.form
{
    position:relative;
    width: 100%;
    height: 100%;
    padding: 40px;

}
.form p
{
    margin-top: 15px;
}
.form h2
{
    position: relative;
    color: rgb(21, 4, 44);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
    

}
.form h2::before;
{
    content: '';
    position: absolute;
    left:0;
    bottom:-10px;
    width: 80px;
    height:4px;
    background:#fff;
}
.form .inputBox
{
    width: 90%;
    margin-top: 40px;
}
.form .inputBox input
{
    width: 100%;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(5, 5, 5);
    box-shadow: 0 5px 5px rgb(0, 0, 0,05);
}
.form .inputBox input::placeholder
{
    color: rgb(7, 7, 7);
}
.form .inputBox input[type="submit"]
{
    background: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: -10px;
    font-weight: 600;
    
    
}
.forget
{
    margin-top: 50px;
    margin-bottom: -15px;
    color: rgb(12, 12, 12);
    

}

.forget a
{
    color: rgb(12, 11, 11);
    font-weight: 600;
    
    
}
.create a
{
    color: rgb(12, 11, 11);
    font-weight: 600;
    
}
.Name {
    position: absolute;
    top: 60px;
    left: 135px;
    font-size: 40px;
    color: #ffffff;
    font-style:italic;
}
.container2 img
{
    position: relative;
    margin-top: 150px;
}